


<!-- move inline css to file-->
<div id="pokemon-details" class="row gray-bck">
  <div class="col-lg-8">
    <app-menu></app-menu>
  </div>
  <div class="col-lg-4">
    <app-pokemon-search></app-pokemon-search>
  </div>
</div>
<main role="main" class="container">
  <!-- <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <img class="mr-3" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
      <small>Since 2011</small>
    </div>
  </div> -->

  <div class="my-3 p-3 bg-white rounded box-shadow">
     <div class="media text-muted pt-3">
      <div *ngIf="pokemon">
        <h2 class="text-center text-white mb-5 p-2" style="background-color: green;">{{pokemon.name | uppercase}}</h2>
        <div class="row ml-0 pb-4">
          <div class="col-lg-12"></div>
          <div *ngFor="let type of pokemonTypes" class="box mr-4" style="background-color: {{pokemonColor}};">
            <h3 class="col-lg-12 text-white" style="background-color: {{type.color }};">{{type.name | uppercase }} </h3>
          </div>
        </div>
        <div>
          <img src="{{pokemonImg}}" class="imgWH" />
        </div>
        <div *ngFor="let statistics of pokemonStatistics" class="box">
          <div class="row">
            <div class="col-lg-4">
              <img src="" />
            </div>
            <div class="col-lg-4">
              <h3 class="">{{statistics.name }} </h3>
            </div>
            <div class="col-lg-3">
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" attr.style="width: {{statistics.base_stat}}%;"
                  attr.aria-valuenow=" {{statistics.base_stat}} " aria-valuemin="0" aria-valuemax="100">
                  {{statistics.base_stat}}%</div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h4 class="text-left text-white mb-5 mt-5 p-2" style="background-color:green;">Profile</h4>
            <h2> {{pokemonType}} </h2>
            <div class="row pl-4">
              <div class="col-lg-6">
                <h6>Height: {{pokemon.height}}</h6>
                <h6>Catch rate</h6>
                <h6>Egg groups</h6>
                <h6>Abilities:
                  <span *ngFor="let ability of pokemonAbs" class="box">
                    <div class="center-display" id="container"> {{ability.name}} - </div>
                  </span>
                </h6>
              </div>
              <div class="col-lg-6">
                <h6 >Weight: {{pokemon.weight}} </h6>
                <h6>Gender ration</h6>
                <h6>Hatch steps</h6>
                <h6>EVs</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row pl-2 mt-5 mb-5">
          <h4 class="text-left p-2 text-white col-12" style="background-color: green;">Evolutions</h4>
          <div class="row ml-5 pl-5">
            <div class="col-lg-2"></div>
      
            <div class="col-lg-1 mt-4">
              <h5 class="text-right" >{{pokemon.name | uppercase}}</h5>
              </div>
              
            <div class="col-lg-2">
              <img src="{{pokemonImg}}"  class=" pt-5 mt-5" /> 
            </div>
            
            
            <div class="col-lg-1">
              <i class="fa fa-arrow-right text-center" aria-hidden="true"></i>
            </div>
          
            <div class="mt-4 col-6">
              <app-pokemon-evolution></app-pokemon-evolution>
            </div>
            <!-- <p>{{pokemon | json}}</p> -->
            <!-- <p>{{pokemon.evolution.id}}</p>  -->
            
          </div>
          
        </div>
        
        <div class="row mt-5 mb-5">
          <h4 class="text-left text-white p-2 col-12" style="background-color: green;">Damage when attacked</h4>
          <div class="row mt-5">
            <app-pokemon-damage></app-pokemon-damage>
          </div>
        </div>
      
        <div class="mt-5">
          <div class="row">
            <div class="col-5"></div>
            <div class="col-2">
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="goBack()">go back</button>
            </div>
            <div class="col-5"></div>
            
          </div>
         
        </div>
    </div>
  </div>

<!-- </main> -->
