<div class="navbar">
    <a routerLink="/pokemons" routerLinkActive="active">Pokemon</a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/details" routerLinkActive="active" >Details</a>
    <span *ngIf="isAdmin">
          <a routerLink="/create-product" routerLinkActive="active">Create Product</a>
          <a routerLink="/products" routerLinkActive="active">Product List</a>
    </span>
    <!-- 
      <div class="dropdown">
          <button class="dropbtn">Details 
          <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
          
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
          </div>
      </div>
      -->


<!--
    <form class="example" action="" 
          style="float: right; margin:auto; max-width:300px">
      <input  type="text" placeholder="Search Pokemon" name="search2">
    </form>
  -->

</div>
  