.grass {
    background-color: red;
}

.imgWH{
    width:200px; height:100px;
}

.center-display{
    width: 60%; margin: 0 auto; display: inline;
}

#pokemon-details{
    background-color: #333 !important;
}