<!-- <p>{{pokemonEvolution | json}}</p> -->
<!-- <h5 class="pl-5">{{pokemonEvolution.id}} evolves into  at </h5> -->
<!-- <h5 class="pl-5">{{pokemonEvolution.chain.evolves_to.evolution_details.min_level}} evolves into  at </h5> -->

<div *ngIf="noPossibleEvolution">
    <h5 class="text-left"> {{noPossibleEvolution}} </h5>
</div>
<div class="row" *ngIf="!noPossibleEvolution">
    <h5 class="text-center col-12"> evolves into {{evolves_to | uppercase}} at level {{evolutionLevel}}</h5>
    <div>
        <img src="{{pokemonImg}}" class="pt-4" />
    </div>
</div>



