<div class="row gray-bck">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4">
      <app-pokemon-search></app-pokemon-search>
    </div>
</div>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
                <form [formGroup]="productForm">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['name'].valid && (productForm.controls['name'].touched)">
                      <div [hidden]="!productForm.controls['name'].errors">
                        Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Description" formControlName="desc" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['desc'].valid && (productForm.controls['desc'].touched)">
                      <div [hidden]="!productForm.controls['desc'].errors">
                        Description is required.
                      </div>
                      <div [hidden]="!productForm.controls['desc'].errors">
                        Description must be have 10 character length.
                      </div>
                      <div [hidden]="!productForm.controls['desc'].errors">
                        Description must be have 1000 character length.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" placeholder="price" formControlName="price" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['price'].valid && (productForm.controls['price'].touched)">
                      <div [hidden]="!productForm.controls['price'].errors">
                        Price is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Category</label>
                    <select class="form-select form-control" aria-label="category" formControlName="category" required>
                        <option selected>Category</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Cloths">Cloths</option>
                        <option value="Blankets">Blankets</option>
                      </select>
                    <div class="alert-danger" *ngIf="!productForm.controls['category'].valid && (productForm.controls['category'].touched)">
                      <div [hidden]="!productForm.controls['category'].errors">
                        Category is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="number" class="form-control" placeholder="phone" formControlName="phone" required>
                    <div class="alert-danger" *ngIf="!productForm.controls['phone'].valid && (productForm.controls['phone'].touched)">
                      <div [hidden]="!productForm.controls['phone'].errors">
                        Phone is required.
                      </div>
                      <div [hidden]="!productForm.controls['phone'].errors">
                        Phone must be have 10 character length.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="imageUrl">Image URL</label>
                    <!-- <input formControlName="file" type="file" class="form-control" (change)="onFileChange($event)"  required> -->
                    <input formControlName="imageUrl" type="text" class="form-control" required>
                    <!-- https://scoutboats.com/wp-content/uploads/2018/12/530lxf-running-DJI_0138.jpg -->
                 <!--    <small class="form-text text-danger" *ngIf="f.file.errors.required"> 
                        Name is required</small>
                 -->
                    <div class="alert-danger" *ngIf="!productForm.controls['imageUrl'].valid && (productForm.controls['imageUrl'].touched)">
                      <div [hidden]="!productForm.controls['imageUrl'].errors">
                        Photo is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Select</label>
                    <select class="form-select form-control" aria-label="select" formControlName="select" required>
                        <option selected>Select</option>
                        <option value="Mobile">Mobile</option>
                        <option value="LandLine">LandLine</option>
                    </select>
                    <div class="alert-danger" *ngIf="!productForm.controls['select'].valid && (productForm.controls['select'].touched)">
                      <div [hidden]="!productForm.controls['select'].errors">
                        Select is required.
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                        <button  (click)="saveProduct(productForm.value)" type="submit" class="btn btn-large btn-success" 
                          [disabled]="!productForm.valid && isSubmitted">
                          Save
                        </button>
                    </div>
                    <div class="col-lg-4">
               <!--          <button (click)="loadData()" class="btn btn-success" >Load data</button> -->
                    </div>
                    <div class="col-lg-4">
                        <button (click)="resetData()" class="btn btn-primary" >Reset</button>
                    </div>
                  </div>
                  
                </form>
                
              </div>
            </div>
          </div>
          <div *ngIf="session">
          <!--   {{session | json}} -->
          <!--   <h1>name: {{session.name}} </h1> -->
          </div>
    </div>
    <div class="col-lg-4"></div>
</div>





getPokemonColor(): any 
  {
    let colors = ['aqua', 'black', 'blue', 'fuchsia', 'gray', 'green', 
      'lime', 'maroon', 'navy', 'olive', 'orange', 'purple', 'red', 
      'silver', 'teal', 'white', 'yellow', 'brown', 'magenta', 'kaki'];

    let types: { name: string; color: string}[] = [];

    let PokemonTypesUrl = 'https://pokeapi.co/api/v2/type';

    return this.http.get(PokemonTypesUrl).
      pipe(
        map((data: any) => {
          console.log(data.results);
          data.results.forEach((itemsV: any, innerIdx: any) =>{
            // console.log(itemsV.name);

            types.push(
                {
                  name: itemsV.name,
                  color: colors[innerIdx]
                }
            );            
          });

          return types;
        }), catchError(this.handleError<Pokemon>(`something went wrong`))
      )
  }
