
<div id="pokemons-list" class="row gray-bck">
  <div class="col-lg-8">
    <app-menu></app-menu>
  </div>
  <div class="col-lg-4">
    <app-pokemon-search></app-pokemon-search>
  </div>
</div>
<div class="pad-top"></div>
<div class="centerCustom">
    <div class="row">
      <div class="pad-bottom card-deck col-sm-3 pad20"  *ngFor="let pokemon of pokemons">
        <div class="card">
          <img class="card-img-top" src="{{pokemon.sprites}}" alt="Card image cap">
          <div class="card-body">
            <a routerLink="/details/{{pokemon.id}}">
              {{pokemon.name}}
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="pad-top"></div>
<div class="row">
  <div class="col-lg-8"></div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-4"> 
          <button  [disabled]="!previousButton" class="col-10 btn btn-primary btn-lg">Previous</button>
      </div>
      <div class="col-lg-6">
          <button type="button" id="next-btn" value="{{nextButton}}" (click)="goToNextSetOfResults()"
          [disabled]="!nextButton" class="col-6 btn btn-primary btn-lg">
            Next
          </button>
      </div>
  </div>
</div>
<div class="row pt-5 mt-5"></div>

